.footer {
  padding: 40px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .social__link {
    border-color: #000;
    &:hover {
      border-color: $accent;
    }
  }
}
@media(max-width:634px) {
  .footer {
    &__container {
      justify-content: center;
    }
    &__logo {
      margin-bottom: 10px;
    }
  }
}