.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
  }
  &__burger {
    display: none;
  }
  &__logo {
    flex-shrink: 0;
    display: block;
  }
  &__call {
    padding-left: 38px;
    background-image: url('../../img/tel.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.nav {
  padding-right: 24px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item:not(:last-child) {
    margin-right: 45px;
  }
  &__link {
    font-weight: 500;
    transition: color .2s ease-in-out;
    &:hover {
      color: $accent;
    }
  }
}

@media(max-width:1024px) {
  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 26px;
    z-index: 10;
    &__line {
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $white;
      transition-property: top, opacity, transform;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
    }
    &__line:nth-child(1) {
      top: 0;
    }
    &__line:nth-child(2) {
      top: 12px;
    }
    &__line:nth-child(3) {
      bottom: 0;
    }
    .open &__line:nth-child(1) {
      top: 12px;
      transform: rotate(45deg);
    }
    .open &__line:nth-child(2) {
      opacity: 0;
    }
    .open &__line:nth-child(3) {
      top: 12px;
      bottom: auto;
      transform: rotate(-45deg);
    }
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $main;
    min-height: 50vh;
    padding: 130px 50px 50px;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    &__list {
      flex-direction: column;
    }
    &__item:not(:last-child) {
      margin-right: 0;
    }
    &__link {
      font-size: 24px;
      line-height: 40px;
    }
    &.open {
      transform: translateX(0);
      transition: transform .3s ease-in-out;
    }
  }
}

@media(max-width:576px) {
  .header {
    &__container {
      padding-top: 15px;
    }
    &__logo {
      width:65vw;
      img {
        margin-left: auto;
      }
    }
    &__call {
      display: none;
    }
  }
}