.hero {
  margin-bottom: 81px;
  padding: 265px 0 267px;
  background-image: url('../../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  &__open {
    margin: 0;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.08em;
  }
  &__descr {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.social {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 24px;
  }
  &__link {
    display: block;
    padding: 14px;
    font-weight: 600;
    border: 1px solid $white;
    border-radius: 100px;
    transition-property: border-color, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    &:hover {
      border-color: $accent;
      color: $accent;
    }
  }
}

@media(max-width:768px) {
  .hero {
    padding: 165px 0 100px;
  }
}

@media(max-width:576px) {
  .hero {
    margin-bottom: 35px;
    padding: 70px 0 45px;
    text-align: center;
    &__open {
      margin-bottom: 5px;
      font-size: 12px;
    }
    &__descr {
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 35px;
    }
    &__bottom {
      justify-content: center;
    }
    &__btn {
      margin-bottom: 20px;
      padding: 25px 35px;
    }
  }

}